parameters:
	db:
		driver: pgsql
		dbname: foobar

queryPanel:
	- Nextras\TracyQueryPanel\Handlers\NetteDatabaseHandler

services:
	nette.connection: NDBConnectionMock("%db.driver%:dbname=%db.dbname%")
